<%- include('partials/header.ejs')%>
    <%- include('partials/nav.ejs')%>

        <div class="register-container">
            <h2>Register Your Books </h2>
            <form action="/register" method="POST">
                <input type="text" placeholder="Author" name="author"> <br><br>
                <select name="country">
                    <option value="">Select Country</option>
                    <% countryNames.forEach(function(c){%>

                        <option value="<%= c%>">
                            <%= c%>
                        </option>

                        <%})%>

                </select>
                <br><br>
                <input type="text" placeholder="Image Link" name="imagelink">
                <br><br>
                <select name="language">
                    <option value="">Select Language</option>
                    <% languageNames.forEach(function(l){ %>

                        <option value="<%= l.name%>">
                            <%= l.name%>
                        </option>

                        <% }) %>
                </select>
                <br><br>
                <input type="text" placeholder="Link" name="link">
                <br><br>
                <input type="number" placeholder="Pages" name="pages">
                <br><br>
                <input type="text" placeholder="Title" name="title">
                <br><br>
                <input type="text" placeholder="Year Of Publication" name="publication">
                <br><br>
                <button>Register Book</button>

            </form>
        </div>


        <%- include('partials/footer.ejs')%>